*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100%;
}

.container .page1{
    width: 100%;
    height: 100vh;
    background: url(../bg\ 3.jpg);
    background-size: cover;
}

.container .page1 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}

.container .page1 .h2{
    color: brown;
    margin-left: 300px;
}

.container .page2{
    width: 100%;
    height: 100vh;
    background: url(./bg10.jpg);
    background-size: cover;
}

.container .page2 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page3{
    width: 100%;
    height: 100vh;
    background: url(./bg7.jpg);
    background-size: cover;
}

.container .page3 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page4{
    width: 100%;
    height: 100vh;
    background: url(./bg8.jpg);
    background-size: cover;
}

.container .page4 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page5{
    width: 100%;
    height: 100vh;
    background: url(./bg\ 4.jpg);
    background-size: cover;
}

.container .page5 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page6{
    width: 100%;
    height: 100vh;
    background: url(./bg\ 5.jpg);
    background-size: cover;
}

.container .page6 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page7{
    width: 100%;
    height: 100vh;
    background: url(./bg\ 6.jpg);
    background-size: cover;
}

.container .page7 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page8{
    width: 100%;
    height: 100vh;
    background: url(./bg10.jpg);
    background-size: cover;
}

.container .page8 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page9{
    width: 100%;
    height: 100vh;
    background: url(./bg\ 9.jpg);
    background-size: cover;
}

.container .page9 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}


.container .page10{
    width: 100%;
    height: 100vh;
    background: url(./bg\ 2.jpg);
    background-size: cover;
}

.container .page10 img{
    width: 50%;
    height: 80vh;
    position: relative;
    margin-left: 280px;
    margin-top: 30px;
}
 